.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    height: 96vh;
  }
  
  .profile-card {
    background-color: #fff;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: fit-content;
  }
  
  .profile-avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-info {
    justify-content: left;
    position: relative;
    gap: 20%;
  }
  
  .profile-info h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .profile-info p {
    margin: 5px 0;
    color: #666;
  }